$primary-color: #0f0f0f;
$background-color: #f9f9f9;
$background-secondary: #ebebeb;
$small-font: 11px;
$normal-font: 12px;
$big-font: 14px;
$font-large: 18px;

@mixin tablet {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    font-family: Arial, sans-serif;

    header {
      position: relative;
      padding: 0 5%;

      .top-header-bar {
        width: 100%;
        height: 20px;
        border-bottom: 1px solid $primary-color;

        nav.top-navig {
          width: 90%;
          height: 120px;
          position: absolute;
          background-color: $background-color;
          transition: all 1s ease-in-out;

          @include laptop {
            width: auto;
            height: auto;
            right: 5%;
            top: 20px;
          }

          &.menuHidden {
            display: none;

            @include laptop {
              display: block;
            }
          }

          &.menuShown {
            display: block;
          }

          ul.top-navig-list {
            width: 100%;
            text-align: center;
            padding-left: 0px;
            margin-top: 13px;

            &.menuItemsShown {
              display: block !important;
            }

            &.menuItemsHidden {
              display: none !important;
            }

            li {
              list-style-type: none;
              padding: 3px 0px;
              border-bottom: 1px solid $primary-color;

              @include laptop {
                display: inline-block;
                border-bottom: none;
              }

              a {
                font-size: $normal-font;
                font-weight: bold;
                color: $primary-color;
                text-decoration: none;

                @include laptop {
                  font-size: $big-font;
                  padding: 5px 0px 0px 10px;
                }

                &:hover {
                  text-decoration: none;
                }

              }
            }
          }
        }
      }

      .bottom-header-bar {
        width: 100%;
        height: auto;
        border-bottom: 1px solid $primary-color;

        img.top-logo {
          margin: 20px 0px;
          height: 45px;
        }

        img.hamburger-menu {
          margin: 20px 0px;
          float: right;
          height: 45px;
          cursor: pointer;

          @include laptop {
            display: none;
          }
        }
      }
    }

    main {
      margin-top: 20px;
      display: block;
      padding: 0 5%;

      @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
      }

      @include laptop {
        width: 80%;
        float: left;
        padding: 0 5% 0 0;
        margin-left: 20%;
      }

      @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .main-article-box {
        padding: 5px 0px;

        &:first-child {

          @include tablet {
            grid-column-end: span 2;
          }

          @include desktop {
            grid-column-end: span 3;
          }

          .article-picture {
            background-position: 50% 25%;

            @include tablet {
              height: 220px;
              background-size: 700px;
              background-position: 50% 15%;
            }

            @include laptop {
              background-size: 770px;
              height: 220px;
            }

            @include desktop {
              background-size: 1100px;
              height: 300px;
            }
          }
        }

        &:nth-child(5) {

          @include tablet {
            grid-row-end: span 2;
          }

          .article-picture {

            @include tablet {
              height: 450px;
              background-size: 648px;
              background-position: 50% 50%;
            }

            @include desktop {
              height: 490px;
              background-size: 700px;
            }
          }
        }

        &:nth-child(n+5) {
          display: none;

          @include tablet {
            display: block;
          }
        }

        .article-picture {
          width: 100%;
          height: 180px;
          background-size: 410px;
          background-position: 50% 50%;
        }

        .text-article-wrap {

          h2.main-title {
            padding: 5px 0px;
          }

          p.main-lead {
            padding: 5px 0px;
          }
        }

      }
    }

    aside.left-aside {
      background-color: $background-secondary;
      padding: 20px 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;

      @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include laptop {
        display: block;
        width: 20%;
        float: left;
        padding: 15px 0 0 5%;
        margin-left: -100%;
        background-color: $background-color;
      }

      .left-article-box {
        padding: 10px 0px;

        @include laptop {
          padding: 10px 20px 10px 0px;
        }

        .left-picture {
          width: 100%;
          height: 120px;
          background-size: 250px;
          background-position: 50% 50%;
          border-radius: 5px;

          @include laptop {
            background-size: 180px;
            height: 100px;
          }

          @include desktop {
            background-size: 300px;
            height: 150px;
          }
        }

        .text-left-wrap {

          h2.left-title {
            @include laptop {
              font-size: 18px;
              padding: 10px 0px;
            }
          }

          p.left-lead {
            @include laptop {
              font-size: 16px;
            }
          }
        }
      }

    }

    footer {
      padding: 20px 5%;
      background-color: $background-secondary;
      padding-bottom: 30px;
      clear: both;
      position: relative;

      .top-footer-bar {
        width: 100%;
        text-align: center;
        padding: 20px 0px;

        @include laptop {
          text-align: left;
        }

        img.footer-logo {
          width: 120px;
        }
      }

      .bottom-footer-bar {

        @include laptop {
          position: absolute;
          right: 5%;
          top: 22px;
        }

        @include laptop {
          float: right;
        }

        nav.footer-navig {

          ul.footer-navig-list {
            width: 100%;
            text-align: center;
            padding-left: 0px;
            margin-top: 13px;

            li {
              list-style-type: none;
              padding: 3px 0px;
              border-bottom: 1px solid $primary-color;

              @include laptop {
                border-bottom: none;
                display: inline-block;
              }

              a {
                font-size: $normal-font;
                font-weight: bold;
                color: $primary-color;
                text-decoration: none;
                font-size: $normal-font;

                @include laptop {
                  padding: 5px 0px 0px 10px;
                }
              }
            }
          }
        }

        p {
          width: 100%;
          text-align: center;
          color: $primary-color;
          font-weight: bold;
          font-size: $normal-font;
          padding-top: 7px;

          @include laptop {
            text-align: right;
          }
        }
      }
    }
  }
}

